header {
    display: flex;
    justify-content: space-between;
    padding: 6px 9px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 24px;
}

h1 {
    font-size: 32px;
}

#highScores {
    color: blueviolet;
    background-color: white;
    border: 0;
}

#highScores:hover {
    cursor: pointer;
    color: violet;
}

#startButton {
    color: aliceblue;
    background-color: purple;
    border: 0;
}

#startButton:hover {
    background-color: blueviolet;
}